/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
}

.align-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.pad-gap-lr {
  padding: 0 32px;
}

.margin-auto-r {
  margin-right: auto;
}
.grid-item {
  // height: 550px;
  flex-basis: 33.33%;
  // width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;

  &__auto {
    flex: 1 0 0;
  }
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}
@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}

img {
  width: 100%;
}

.pad-gap {
  padding: 16px;
}

.cart {
  width: 64px;
  height: 64px;
  background-color: transparent;
  display: inline-block;
  background-size: cover;
  color: rgb(177, 11, 243);
  background-image: url('^assets/shopping-basket.svg');
}

.margin-l-auto {
  margin-left: auto;
}

.align-items-end {
  align-items: flex-end;
}
