/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
}

.align-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.pad-gap-lr {
  padding: 0 32px;
}

.margin-auto-r {
  margin-right: auto;
}
.grid-item {
  // height: 550px;
  flex-basis: 33.33%;
  // width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}
@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}

img {
  width: 100%;
}
